@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Encode+Sans+Semi+Expanded:wght@500&family=Knewave&family=Lilita+One&family=Luckiest+Guy&family=Merriweather+Sans:wght@700&family=Monoton&family=Rampart+One&family=Source+Code+Pro&display=swap');

$fontOfLogo: Cabin Sketch;
$generalFont: Source Code Pro;
$backgroundColor: rgb(255, 255, 255);
$centerColor: rgb(211, 212, 220);
$greyLogoColor: rgb(62, 58, 55);
$greyColor: rgb(66, 64, 75);
